@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

#frame {
	width: 95%;
	min-width: 360px;
	max-width: 1000px;
	height: 92vh;
	min-height: 300px;
	max-height: 420px;
	background: #E6EAEA;
	@media screen and (max-width: 360px) {
			width: 100%;
			height: 100vh;
	}
}

.chat-content {
  float: right;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 735px) {
    width: calc(100% - 58px);		
    min-width: 300px !important;
  }
  @media screen and (min-width: 735px) {
    width: calc(100% - 340px);
  }
}

.contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #435f7a;
}

.contact-profile p {
  margin-left: 10px;
  float: left;
  color: #f5f5f5;
}

.messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
  @media screen and (max-width: 735px) {
    max-height: calc(100% - 105px);
  }
}
.messages&::-webkit-scrollbar {
  width: 8px;
  background: rgba(0, 0, 0, .0);
}
  
.messages&::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3);
}
  
.messages ul li {
  display: inline-block;
  clear: both;
  margin: 15px 15px 5px 0px;
  width: calc(100% - 25px);
  font-size: 0.9em;
}

.messages ul li&:nth-last-child(1) {
  margin-bottom: 20px;
}

.sent p {
  background: #435f7a;
  color: #f5f5f5;
}

.replies p {
  background: #f5f5f5;
  float: right;
}

.messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 205px;
  line-height: 130%;
  @media screen and (min-width: 735px) {
    max-width: 300px;
  }
}

.message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}
.wrap {
  position: relative;
}

.chat-text {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #435f7a;
  @media screen and (max-width: 735px) {
    padding: 15px 32px 16px 8px;
  }
}
.chat-text&:focus {
  outline: none;
}



.sendbutton {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  color: #435f7a;
  @media screen and (max-width: 735px) {
    padding: 16px 0;
  }
}

